.navbar-brand {                                       /* navbar*/
    margin-bottom:50px;
  }
  
  .navbar { 
      margin-bottom:0px !important; }




.header {
    text-align: center;
    color:rgb(245, 151, 148);
}


.call {
    text-align: center;
    color:rgb(245, 151, 148);
}


.form{
    background-color: rgb(245, 151, 148);
    color: white;
    width: 70px;
    
}

.agree { 
  margin-left: 10px;

}

.btn {
margin-left: 10px;
}

.footer ul {            /* footer */
    list-style-type: none;
    color:white;
    }



.head {
  margin-left: 20px;
}

.footer {
  margin-top: 20px;
  background-color:black;
  
  
}

.word h1 {
  margin-top: 55px;
}

form label {
  font-size: 20px;
}


select {
  height: 40px;
}

